---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Tuan Ha Anh</a>
    </div>
    <div class="nav-links">
        <a href="/works/">Works</a>
        <a href="/posts/">Posts</a>
        <a href="https://github.com/tuanha1305" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
